* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Robot", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #0B0911;

}

header {
    padding: 20px 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background: #130F1E;
    width: 100vw;
}

header > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 964px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    background: #0B0911;
}



a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    word-break:inherit;
    padding: 20px;
    
    

}


a > p {
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    
    
}

.cards {
    max-width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #202024;
    
}

img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.cards:hover {
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px rgba(102, 51, 153, 40);
    transition-duration: 0.5s;
}

.estilo {
    visibility: hidden;
}

@media (max-width:963px){
    img {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 25px;
    }

    .estilo {
        display: none;
    }
}

@media (max-width:630px) {
    .cards {
        width: 50%;
    }

    h1 {
        font-size: 1rem;
    }

    header img {
        width: 50px;
        height: 50px;
    }
}





    