* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #130F1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "roboto", sans-serif;
}

header {
    background-color: #060507;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;

}



#voltar {
    width: 50px;
    padding: 10px;
    background-color: #E1E1E6;
    border-radius: 50%;
    margin-left: 10px;
    
    
}

#logo {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}


section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #130F1E;
    width: auto;
    padding-left: 12%;
    padding-right: 12%;
}

section > h1 {
    font-family: "Inter";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 8px;

}

p {
    font-family: "Roboto";
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.67;
    font-size: 19.206px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    max-width: 365px;
    
}

.opcao {
    font-family: "Roboto";
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 9px;
    text-align: center;
}

.opcao:hover {
    cursor: pointer;
}

.opcao:focus{
    background-color: #8257E5;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: white;
}

#box {
    margin-bottom: 50px;
}

#loading {
    display: none;
}

#movable {
    display: none;
}

section > button {
    display: flex;
    width: 317px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    margin-bottom: 32px;
    color: white;
}

#primario {
    background-color: #8257E5;
}

#secundario {
    background: #3C3748;
}

#terciario {
    border: none;
    background-color: #130F1E;
}

/* FAZER BOTÕES TROCAREM DE MODO */

/* DEFAULT */



/* HOVER */


html.hover #secundario {
    background: #6A617F;
    
}



/* FOCUS */

html.focus #primario {
    border: 2px solid #D9CDF7;
}

html.focus #secundario {
    border: 2px solid #D9CDF7;
}

html.focus #terciario {
    border: 2px solid #D9CDF7;
}


/* DISABLED */ 

html.disabled #primario {
    opacity: 0.5600000023841858;
    cursor: not-allowed; 
}

html.disabled #secundario {
    opacity: 0.5600000023841858;
    cursor: not-allowed; 
}


html.disabled #terciario {
    cursor: not-allowed; 
    opacity: 0.5600000023841858;
}

/* LOADING */

html.loading #primario {
    cursor: progress ;
    #loading {
        display: initial;
    }
}

html.loading #secundario {
    cursor: progress ;
    #loading {
        display: initial;
    }

    
}

html.loading #terciario {
    cursor: progress ;
    #loading {
        display: initial;
    }
}


/* MOVABLE */


html.movable #primario {
    cursor: move;
    #movable {
        display: initial;
    }
}

html.movable #secundario {
    cursor: move;
    #movable {
        display: initial;
    }
}

html.movable #terciario {
    cursor: move;
    #movable {
        display: initial;
    }
}

@media (max-width:450px) {
    header > h1 {
        font-size: 1.2em;
    }

    .opcao {
        width: 45px;
        height: 45px;
    }
}