* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #271A45;
    
}

header {
     background-color: #060507;
     display: flex;
     width: 100vw;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     height: 100px;
     color: white;
 
 }
 
 #voltar {
     width: 50px;
     padding: 10px;
     background-color: #E1E1E6;
     border-radius: 50%;
     margin-left: 10px;
     
     
 }
 
 #logo {
     width: 50px;
     background-color: white;
     border-radius: 50%;
     margin-right: 10px;
 }

section {
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
    background-color: #D9CDF7;
    width: 75%;
    height: 50vh;
    border-radius: 10px;
    margin: 5% 0;
}

#card {
    display: flex;
    flex-direction: column;
    width: 450px;

}

#sofaAnimated {
    display: none;
}

#img360:hover,
#imgfechar:hover {
    cursor: pointer;
}

#img360 {
    width: 33px;
    height: 23px;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 8px;
}

#imgfechar{
    display: none;
    width: 16px;
    height: 16px;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 8px;
}

html.animated #sofa,
html.animated #img360 {
    display: none;
}

html.animated #sofaAnimated,
html.animated #imgfechar {
    display: initial;
}

#card2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    font-family: "lato", sans-serif;
    font-size: 10px;
    font-weight: 300;
}

h1 {
    font-family: 'CrimsonPro', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;
}

button {
    display: flex;
    width: 160px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: 0.5px solid #271A45;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}



@media (max-width:1450px){
    section {
        height: 50vh;
        width: 90%;
    }
}

@media (max-width:850px) {
    section {
        flex-direction: column;
        gap: 40px;
        height: 60vh;
    }
}

@media (max-width:550px) {
    #card{
        width: 90%;
    }

    header > h1 {
        font-size: 130%;
    }
}