* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    color: white;
    background: #6D67D0;
    
}

header {
    background-color: #060507;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: white;

}

header > h1 {
    font-size: 22px;
}

#voltar {
    width: 50px;
    padding: 10px;
    background-color: #E1E1E6;
    border-radius: 50%;
    margin-left: 10px;
    
    
}

#logo {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}


main {
    background-image: url(./assets/Background.png);
    background-position: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: "1fr 1fr 1fr"
                        "1fr 1fr 1fr";
    gap: 24px;
    padding: 144px 138px;
    max-width: 1366px;
    max-height: 768px;
    margin: auto;

}

main > div {
    display: flex;
    gap: 24px;
}

.principal {
    position: relative;
    grid-row: 1/3;
    width: 480px;
    height: 480px;
    background-image: url(./assets/Temperature\ Now.png);

    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.principal> div:nth-child(1){

    display: flex;
    justify-content: end;
    margin-bottom: 80px;
}

.principal> div:nth-child(1) > img {
    position: absolute;
    left: -55px;
    top: -60px;

}

.principal> div:nth-child(1) > p {
    margin-right: 32px;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.principal> div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 300px;
}

.principal h1 {
    font-size: 88px;
   
}

.principal sup {
    color: #DAD8F7;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    

}

.principal h4 {
    font: 20px;
    margin-left: 20px;
}

.principal span {
    color: #C2BFF4;
    margin: 0 10px;
}

.principal > div:nth-child(3){
    display: flex;
    justify-content: space-between;
    

}

.principal > div:nth-child(3) > div {
    display: flex;
    border-radius: 6px;
    background: rgba(102, 96, 200, 0.60);
    backdrop-filter: blur(0px);
    gap: 12px;
    width: fit-content;
    padding: 12px 16px;
    margin-left: 12px;
    font-size: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}

h6 {
    font-size: 18px;
}

.principal > div:nth-child(3) > div p {
    font-size: 14px;
}



.qualidade {
    width: 277px;
    height: 244px;
    border-radius: 10px;
    background: #6D67D0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.qualidade > div:nth-child(1){
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}

.qualidade > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 34px;
    justify-content: center;
    align-items: center;

}

.qualidade > div:nth-child(2) p:nth-child(1){
    color:#87EBCD ;
    font-size: 18px;
    font-weight: 700;
}

.qualidade > div:nth-child(2) p:nth-child(2) {
    font-size: 40px;
    font-weight: 700;
    color:#E7E6FB;
}

.qualidade > div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-top: 33px;
    gap: 16px;
    color: #87EBCD;
    font-size: 14px;
    font-weight: 700;
   

}

.qualidade > div:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #87EBCD;
    font-size: 12px;
    font-weight: 400;
    color: #E7E6FB;
    

}

.qualidade > div:nth-child(3) p,
.qualidade > div:nth-child(4) p {
    width: 28px;
}

.horario {
    width: 277px;
    height: 244px;
    border-radius: 10px;
    background: #6D67D0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px 16px;
    gap: 24px;
    
}

.horario > div:nth-child(1){
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #DAD8F7 ;
}

.horario > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.horario > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.dias {
    grid-column: 2/4;
    display: flex;
    width: 578px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    background: #6D67D0;
    backdrop-filter: blur(10px);

}

.cards {
    display: flex;
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.cards img {
    width: 64px;
    height: 64px;
}

.cards p:nth-child(1) {
    font-weight: 700;
    color: #DAD8F7;
    font-size: 14px;
}

#segunda {
    width: 100px;
}

.cards p:nth-child(3) {
    font-weight: 700;
    display: flex;
    gap: 5px;
}

.cards span {
    color: #C2BFF4;
}

@media (max-width:1300px){

    body {
        background-image: url(./assets/Background.png);
        background-size: cover;
        min-height: 100vh;
        
    }
   
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        background: none;

        
        
        
    }

    .principal {
        grid-column: 1/4;
        margin-right: 50px;
        width: auto;
        
    }

    .qualidade {
        grid-column: 1;
        width: auto;
        

    }

    .horario {
        grid-column: 1;
        width: auto;
        
    }

    .dias {
        grid-column: 1;
        width: auto;
    }
}